!!! Strict
%html
%head
  %title
    Jabber Color Switcher

%body
  %h1 Choose a Color
  
  = button_to("Blue", colors_path(:color => "#63A7E7"))
  = button_to("Red",  colors_path(:color => "#b81212"))
  = button_to("Green",  colors_path(:color => "#76f442"))
  = button_to("Yellow",  colors_path(:color => "#e7df28"))
  = button_to("Pink",  colors_path(:color => "#ef7d92"))
